.Section1 {
  background-color: rgb(245, 240, 230);
  scroll-margin-top: 34.4px;
}
.Section2 {
  background-image: url("images/bg-orbs-1.jpg");
  scroll-margin-top: 34.4px;
}

h2.Section2 {
  color: white;
}

h2 {
  font-size:28px;
}

p.Section2{
  font-size: 28px;
  color: white;
}

p.Section1{
  font-size: 28px;
  color: black;
}
div {
  width: 100%;
  display: inline-block;
}
li.navbar {
  float: left;
  display: inline;
}
a {
  display: block;
  padding: 8px;
  float: left;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
ul.navbar {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  overflow: hidden;
  font-size: 28px;
  text-align:center;
}

a:hover {
  color:#ffffff;
  background-color: rgb(25, 17, 59);
}

img.ucsdLogo {
  max-width: 400px;
  float:left;
  padding-right: 100%;
}

.grid-container {
  display: grid;
  font-size:28px;
  width: auto;
  padding:25px;
}

.grid-item {
  background-color:#182b49;
  color:white;
  max-height: 500px;
  overflow: auto;
  padding:25px;
  width: 75%;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.grid-item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.grid-item-4 {
  grid-column-start: 4;
  grid-column-end: 4;
}

.sectionImages {
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  li.navbar {
    float: left;
    display: none;
  }

  ul.navbar {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    overflow: hidden;
    font-size: 28px;
    text-align:center;
  }

  img.ucsdLogo {
    max-width: 75%;
    
  }

  h2 {
    font-size:24px;
  }
  
  p.Section2{
    font-size: 20px;  
    color: white;
  }
  
  p.Section1{
    font-size: 20px;
    color: black;
  }

  .grid-container {
    display: grid;
    grid-gap: 25px;
    font-size:28px;
    width: auto;
    grid-template-columns: 1fr 1fr;
  }
  
  .grid-item-1 {
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .grid-item-2 {
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  .grid-item-3 {
    grid-row-start: 2;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .grid-item-4 {
    grid-row-start: 2;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}